.bakgrunnsbilde {
    /*background-image: url("chuttersnap-xbeg3GcblgM-unsplash.jpg");*/
    height: auto;
    width: auto;
    background-color:#f8f4e7;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: static;
    background-attachment: fixed;
}


@media screen and (min-width: 500px) {
   body {
      width:420px;
   }
}

@media screen and (min-width: 800px) {
   body {
      width:720px;
   }
}


.header {
    color: rgb(143, 24, 24);
    order: 0;
    background: white;
    flex: 1;
    font-family: monospace;
    font-size: 7vmin;
    order: 1;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.topptekst {
    flex:1;
    justify-content: space-around;
    font-size: 2vw;
    font-weight: bold;
}

.midt {
    display: flex;
    order: 2;
    /*margin: 75px;
    margin-top: 125px;
    margin-bottom: 250px;*/
    /*border: 6px groove rgb(189, 4, 4);*/
    font-family: monospace;
    font-size: 3vmin;
    background-color:white;
    flex-direction: column;
}

.innimidt {
    display:flex;
    flex-direction:row;
    order:1;
    flex: wrap;
}

.menyen {
    background-color: rgb(189, 4, 4);
}

#meny {
    align-self: flex-end;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-left: 7vw;
    margin-right: 7vw;
    
}

#meny a, a:visited, a:active {
    list-style-type: none;
    text-decoration: none;
    padding: 5px; 
    overflow: hidden;
    display: block;
    background-color:  rgb(189, 4, 4);
    color: black;
}

#meny li {
    display: block;
    color: black;
    text-align: center; 
    margin: 5px;
    padding-right: 7px;
    flex: 1;
} 

#meny a:hover {
    background-color:  rgb(187, 53, 53);
}

.undertittel {
    font-family: monospace;
    font-size: 6vmin;
}

.midttekst {
    flex: 1;
    margin: 50px;
    line-height: 1.5em;
}

.midtbilde {
    background-image: url("hus.png");
    flex:1;
    min-width: 300px;
    margin: 60px;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer {
    align-self: center;
    flex-grow: 1;
    order: 3;
}

/*align-items: center;
    flex-basis: auto;*/


.nedremeny {
    background-color: rgb(189, 4, 4);
    order:3;
    font-family: monospace;
    font-size: 3vmin;

    /*© 2021*/
}

#nmeny {
    align-self: flex-end;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-left: 7vw;
    margin-right: 7vw;
    
}

#nmeny a, a:visited, a:active {
    list-style-type: none;
    text-decoration: none;
    padding: 5px; 
    overflow: hidden;
    display: block;
    background-color:  rgb(189, 4, 4);
    color: black;
}

#nmeny li {
    display: block;
    color: black;
    text-align: center; 
    margin: 5px;
    padding-right: 7px;
    flex: 1;
} 

#nmeny a:hover {
    background-color:  rgb(187, 53, 53);
}
  

        