body {
    display: grid;
    grid-template-columns: 1fr 30fr 1fr;
    grid-template-rows: 0.1fr 2fr 2fr 2fr;
    grid-template-areas: "header header header"
                        ". main ."  
                        ". dings ."          
                        "footer footer footer";
    background-color: rgb(61, 58, 58);
    margin: 0;
    font-family: 'Pixel UniCode';
}

#header {
    grid-area: header;
    width: 100%;
    background-color: black;
    color:gray;
    max-height: 13vw;
    position: fixed;
    font-size: 4.5vw;
    transition: 0.3s;
}

header {
    text-decoration: overline underline;
    padding: 25px;
    text-align: center;
}

#header.stor {
    background-attachment:fixed;
    font-size: 2.3vw;
    max-height: 6vw;
    margin: 0;
}


.main {
    grid-area: main;
    justify-self: center;
    width: 100%;
    background-color: gray;
    padding: 1vw;
    border-radius: 15px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "tekst bilde1";
}

.tekst {
    grid-area: tekst;
}

.bilde1 {
    grid-area: bilde1;
}

/*Fontgreier*/

@font-face {
    font-family: 'Pixel UniCode';
    src: url("Gotham-Font/Gotham-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

iframe {
    margin-top: 10px;
}

.bilder {
    width:400px;
    max-height: auto;
}

::-webkit-scrollbar {
    width: 15px;
    background-color:white;
}

/*bakgrunn, vær samme farge, de er layered oppå hverandre, vet egt ikke forksjell?*/
::-webkit-scrollbar-track {
    background:rgb(202, 202, 202);
    /*border-radius: 10px;*/
}

/*Denne er visst øverst, over scrolltingen?*/
::-webkit-scrollbar-track-piece {
    background:rgba(255, 255, 255, 0);
    /*border-radius: 10px;*/
}

/*Ting som dras*/
::-webkit-scrollbar-thumb {
    background:black;
    /*border-radius: 10px;*/
}


.dings {
    grid-area: dings;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "dream youtube bilde2"
                                ". clock .";
    background-color: gray;
    padding: 1vw;
    border-radius: 15px;
    margin-top: 20px;
    column-gap: 20px;
    justify-self: center;
    width: 100%;
}

.dream {
    grid-area: dream;
}

.spotify {
    width:100%;
}

.youtube
    {grid-area: youtube;
}

.ytvideo {
    border-radius:10px;
    width:100%;
}

#video {
    border-radius:10px;
    width: 100%;
}

.bilde2 {
    grid-area: bilde2;
}



.clock {
    grid-area: clock;
    font-size: 20px;
}


/*Alt til dark theme*/
.lysmodus {
    position: fixed;
    bottom:20px;
    right:20px;
    display: inline-block;
    border: 5px ridge;
    border-radius: 5px;
    background-color: black;
    padding:10px;
    color:white;
    text-decoration: none;
}


#klokke {
    color:white;
    position: fixed;
    right:20px;
    top:30px;
}

