body {
    display: grid;
    grid-template-columns: 1fr 30fr 1fr;
    grid-template-rows: 0.1fr 2fr 2fr 2fr;
    grid-template-areas: "header header header"
                        ". main ."  
                        ". dings ."          
                        "footer footer footer";
    background-color: rgb(202, 202, 202);
    margin: 0;
    font-family: 'Pixel UniCode';
}

#header {
    grid-area: header;
    width: 100%;
    background-color: rgba(64,24,0,255);
    max-height: 12vw;
    position: fixed;
    font-size: 4.5vw;
    transition: 0.3s;
}

header {
    color:white;
    text-decoration: overline underline;
    padding: 50px;
    text-align: center;
}

#header.stor {
    background-color:rgba(64,24,0,255);
    background-attachment:fixed;
    font-size: 3vw;
    max-height: 7vw;
    margin: 0;
}

.main {
    grid-area: main;
    justify-self: center;
    width: 100%;
    background-color: rgba(250,248,249,255);
    padding: 1vw;
    border-radius: 15px;
    margin-top: 170px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "tekst bilde1";
}

.tekst {
    grid-area: tekst;
}

.bilde1 {
    grid-area: bilde1;
}

/*Fontgreier*/

@font-face {
    font-family: 'Pixel UniCode';
    src: url("Gotham-Font/Gotham-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

iframe {
    margin-top: 10px;
}

.bilder {
    width:400px;
    max-height: auto;
}

::-webkit-scrollbar {
    width: 15px;
    background-color:white;
}

/*bakgrunn, vær samme farge, de er layered oppå hverandre, vet egt ikke forksjell?*/
::-webkit-scrollbar-track {
    background:rgb(202, 202, 202);
    /*border-radius: 10px;*/
}

/*Denne er visst øverst, over scrolltingen?*/
::-webkit-scrollbar-track-piece {
    background:rgba(255, 255, 255, 0);
    /*border-radius: 10px;*/
}

/*Ting som dras*/
::-webkit-scrollbar-thumb {
    background:rgba(64,24,0,255);
    /*border-radius: 10px;*/
}


/*små knapper øverst
::-webkit-scrollbar-button {
    background-size: 100%;
}
::-webkit-scrollbar-button:start {
    background-color: white;
}
::-webkit-scrollbar-button:end {
    background-color: white;
}*/

.dings {
    grid-area: dings;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "dream youtube bilde2";
    background-color: rgba(250,248,249,255);
    padding: 1vw;
    border-radius: 15px;
    margin-top: 20px;
    column-gap: 20px;
    justify-self: center;
    width: 100%;
}

.dream {
    grid-area: dream;
}

.spotify {
    width:100%;
}

.youtube
    {grid-area: youtube;
}

.video {
    border-radius:10px;
    width:100%;
}

.bilde2 {
    grid-area: bilde2;
}