body {
    display: grid;
    grid-template-columns: 1fr 40fr 1fr;
    grid-template-rows: 0.1fr 2fr 2fr;
    grid-template-areas: "header header header"
                        ". main ."            
                        "footer footer footer";
    background-color: rgb(202, 202, 202);
    margin: 0;
    font-family: 'Pixel UniCode';
}

.header {
    grid-area: header;
    width: 100%;
    background-color: rgba(64,24,0,255);
    max-height: 12vw;
}

header {
    font-size: xx-large;
    color:white;
    text-decoration: overline underline;
    padding: 50px;
    text-align: center;
}

.main {
    grid-area: main;
    justify-self: center;
    width: 100%;
    background-color: rgba(250,248,249,255);
    padding: 1vw;
    border-radius: 15px;
    margin-top: 20px;
}

/*Fontgreier*/

@font-face {
    font-family: 'Pixel UniCode';
    src: url("Gotham-Font/Gotham-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

iframe {
    margin-top: 10px;
}

.bilder {
    width:800px;
    max-height: auto;
}

::-webkit-scrollbar {
    width: 15px;
    background-color:white;
}

/*bakgrunn, vær samme farge, de er layered oppå hverandre, vet egt ikke forksjell?*/
::-webkit-scrollbar-track {
    background:rgb(202, 202, 202);
    /*border-radius: 10px;*/
}

/*Denne er visst øverst, over scrolltingen?*/
::-webkit-scrollbar-track-piece {
    background:rgba(255, 255, 255, 0);
    /*border-radius: 10px;*/
}

/*Ting som dras*/
::-webkit-scrollbar-thumb {
    background:rgba(64,24,0,255);
    /*border-radius: 10px;*/
}


/*små knapper øverst
::-webkit-scrollbar-button {
    background-size: 100%;
}
::-webkit-scrollbar-button:start {
    background-color: white;
}
::-webkit-scrollbar-button:end {
    background-color: white;
}*/
