body {
    display: grid;
    grid-template-columns: 6.5fr 30fr 2fr;
    grid-template-rows: 0.1fr auto auto auto auto;
    grid-template-areas: "header header header"
                        ". main ."  
                        ". dings ."
                        ". slider ."
                        ". kalkulator ."
                        ". spill ."   
                        "footer footer footer";
    background-color: rgb(202, 202, 202);
    margin: 0;
    font-family: 'Pixel UniCode';
    row-gap: 30px;
    line-height:2vw;
}

#header {
    grid-area: header;
    width: 100%;
    color:white;
    max-height: 13vw;
    position: fixed;
    font-size: 4.5vw;
    transition: 0.3s;
    line-height: normal;
    background-color: rgba(64,24,0,255);
}

header {
    text-decoration: overline underline;
    padding: 25px;
    text-align: center;
}

#header.stor {
    background-attachment:fixed;
    font-size: 2.3vw;
    max-height: 6vw;
    margin: 0;
    border:white double;
    border-top:0;
}

/*Skal endres i dark mode*/
.bakfar {
    background-color: rgba(250,248,249,255);
    border-radius: 15px;
    padding:2vw;
    justify-self: center;
    width: 100%;
}

.roedt {
    background-color: rgba(64,24,0,255);
}


.main {
    grid-area: main;
    margin-top: 120px;
    display: grid;

    grid-template-columns: auto auto;

    grid-template-rows: 1fr;
    grid-template-areas: "tekst1 bilde1";
}

.tekst1 {
    grid-area: tekst1;
}

#navnet {
    font-size: xx-large;
}

.svart {
    display:none;
}
.bilde1 {
    grid-area: bilde1;
}

/*Fontgreier*/

@font-face {
    font-family: 'Pixel UniCode';
    src: url("Gotham-Font/Gotham-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

iframe {
    margin-top: 0;
}

#bilder {
    max-height: auto;
}

::-webkit-scrollbar {
    width: 15px;
    background-color:white;
}

/*bakgrunn, vær samme farge, de er layered oppå hverandre, vet egt ikke forksjell?*/
::-webkit-scrollbar-track {
    background:rgb(202, 202, 202);
    /*border-radius: 10px;*/
}

/*Denne er visst øverst, over scrolltingen?*/
::-webkit-scrollbar-track-piece {
    background:rgba(255, 255, 255, 0);
    /*border-radius: 10px;*/
}

/*Ting som dras*/
::-webkit-scrollbar-thumb {
    background:rgba(64,24,0,255);
    /*border-radius: 10px;*/
}


/*små knapper øverst
::-webkit-scrollbar-button {
    background-size: 100%;
}
::-webkit-scrollbar-button:start {
    background-color: white;
}
::-webkit-scrollbar-button:end {
    background-color: white;
}*/

.dings {
    grid-area: dings;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "dream youtube bilde2"
                        "tekst2 tekst3 tekst4";
    column-gap: 1vw;
}

.dream {
    grid-area: dream;
    width:100%;
    color:black;
}

.spotify {
    border-radius:15px;
    max-width: 100%;
}


.youtube {
    grid-area: youtube;
}

.ytvideo {
    border-radius:10px;
    width:100%;
}

.bilde2 {
    grid-area: bilde2;
    background-color: black;
    border-radius:10px;
}

#video {
    height: 100%;
    max-width: 100%;
}


.tekst2 {
    grid-area: tekst2;
    color:black;
}

.tekst3 {
    grid-area: tekst3;
    color:black;
}

.tekst4 {
    grid-area: tekst4;
    color:black;
}

.nomarg {
    margin-block-end: 0;
}

/*Fotoalbum*/

.slider {
    grid-area:slider;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "slidertekst slideralbum";
    column-gap: 1vw;

}

.slidertekst {
    grid-area:slidertekst;
}

.slideralbum {
    grid-area:slideralbum;
}

.slides {
    display:none;
    width:100%;
    height:300px;
}

img {
    max-width: 100%;
}

/*Kalkulator*/
.kalkulator {
    grid-area:kalkulator;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "kalk bildeGreier";
}

.kalk {
    grid-area:kalk;
    
}

.bilderGreier {
    max-width: 100%;
}

/*Knapper*/
.prev, .next {
    padding:10px;
    user-select: none;
    border-radius:10px;
}

.next{
    justify-self: right;
}

.spill {
    grid-area:spill;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-areas: "gjettespill annetspill";
}

.gjettespill {
    grid-area:gjettespill;
}

.annetspill {
    grid-area:annetspill;
}


/*Alt til dark theme*/
.lysmodus {
    background-color:rgba(128, 128, 128, 0);
    position: fixed;
    bottom:20px;
    left:20px;
    padding:5px;
    color:white;
    text-decoration: none;
    display: inline-block;
}

.dark {
    display:none;
}

.lysmodys:hover {
    background-color:rgba(128, 128, 128, 0.356);
    display: inline-block;
    border: 5px double;
    border-radius: 5px;
}

/*klokken*/

#klokke {
    color:white;
    position: fixed;
    right:20px;
    top:40px;
    font-size:x-large;
    transition: 0.3s;
}

#klokke.stor {
    font-size:medium;
    top:27px;
}

/*menyen*/

#meny {
    background-color: rgba(64,24,0,255);
    position: fixed;
    height: 100%;
    top:0;
    left:0;
    width:12%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "dream youtube bilde2";

}

#meny.stor {
    border-right:white double;
    transition:0.3s;
}

#lang {
    color:white;
}

#tilbake {
    position:fixed;
    left:20px;
    top:40px;
    color:white;
    text-decoration: none;
    font-size: x-large;
    transition: 0.3s;
}

#tilbake.stor {
    font-size: medium;
    top:27px;
}

.knappområde {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#zoominn {
    display:block;
    border:none;
    padding:1px;
}

#zoomut {
    display:block;
    border:none;
    padding:2px;
}

.hover {
    background-color: rgba(202, 202, 202, 0);
    border-radius:10px;
}

.hover:hover {
    background-color: rgba(202, 202, 202, 0.589);
    border:white;

}

.knapper {
    width:3vw;
    height:auto;
    flex:1;
}


.footer {
    grid-area:footer;
    justify-self:right;
    width:88%;
}

.fotområde {
    width: 100%;
    height:100%;
    border-top:white double;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "venstre midt";
    grid-gap:20px;
    color:white;
}


.venstre {
    grid-area:venstre;
    padding: 15px;
}

.midt {
    grid-area: midt;
    padding: 15px;
}


@media screen and (max-width: 700px) {

    /*body {
        grid-template-columns: 1fr 30fr 1fr;
        grid-template-rows: 0.1fr 1fr 1fr 0.3fr;
    }
*/
    .main {
        margin: 1%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: "tekst1"
                            "bilde1";
    }

    .dings {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: "dream"
                            "tekst2"
                            "youtube"
                            "tekst3"
                            "bilde2"  
                            "tekst4";
    }


    #header {
        font-size: 4vw;
    }

    #tilbake {
        top:5px;
        left:5px;
        font-size:medium;
    }

    #klokke {
        right:5px;
        top:5px;
        font-size:medium;
    }

    #klokke.stor {
        font-size:medium;
        top:5px;
    }

    #tilbake.stor {
        font-size:medium;
        top:5px;
    }

    .bilder {max-width:70%;}
}
