body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: grey;
    text-decoration: none;
}

body.dark-theme {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: rgb(31, 24, 24);
    text-decoration: none;

}

.header {
    font-size: 3vw;
    color: rgb(179, 179, 179);
    background-color: rgb(20, 34, 34);
    display: flex;
    align-content: center;
    justify-content: center;
}

.header.dark-theme {
    font-size: 3vw;
    color: rgb(179, 179, 179);
    background-color: rgb(67, 128, 128);
    display: flex;
    align-content: center;
    justify-content: center;
}

.hoveddel {
    font-size: 2vw;
    text-decoration: none;

}

.footer {
    font-size: 2vw;
    text-decoration: none;
}
  
  /*a {
    color: #0033cc;
  }
  body.dark-theme a {
    color: #809fff;
  }*/