body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: grey;
    text-decoration: none;
}

.header {
    font-size: 3vw;
    color: rgb(179, 179, 179);
    background-color: rgb(20, 34, 34);
    display: flex;
    align-content: center;
    justify-content: center;
}

.hoveddel {
    font-size: 2vw;
    text-decoration: none;

}

.footer {
    font-size: 2vw;
    text-decoration: none;
}
  body.dark-theme {
    color: #eee;
    background: #121212;
    
  }
  
  /*a {
    color: #0033cc;
  }
  body.dark-theme a {
    color: #809fff;
  }*/