.body {
    display: grid;
    height: 100vh;
    
    grid-template-rows: auto 1fr auto;
}

.vanligtekst {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#option_list {
    height: 40px;
    width: 500px;
    margin: auto;
  }
#option1 {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 100px;
    margin-left: 0.7291666666666666em;
    margin-right: 0.7291666666666666em;
    background-clip: content-box;
    text-align: center;
    cursor: pointer;
    font: bold 19px serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .themes {
    display: block;
    padding: 20px;
    transition: 0.2s;
  }
  #option1:hover {
    background-color: rgb(84, 84, 84);
    color: white;
  }
  #dropDownMenu {
    position: fixed;
    padding-left: 0px;
    background-color: rgb(84, 84, 84);
    width: 190px;
    margin-top: 17px;
    display: none;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #option1:hover #dropDownMenu {
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .themes:hover {
    background-color: rgba(3, 3, 3, 0.51);
  }