body {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: row;
    background-color: gray;
    padding:10px;
}

#venstre {
    flex:1;
    background-color: white;
    border-radius: 10px 0 0 10px;
}

#høyre {
    flex:1;
    background-color: white;
    border-radius: 0 10px 10px 0;
    text-align: center;
  
}

#profilHel {
    display: flex;
    flex-direction: column;
    width:95%;
    align-items: center;
    background-color: darkslateblue;
    border-radius:10px;
    margin: 5px;
    padding-top:10px;
    color:white;
    font-weight: bold;
}

#pfpUtskrift {
    flex:1;
    width:160px;
}

header, #profOverskrift {
    font-size:x-large;
    font-weight: bold;
    margin:10px;
}

form, #profilbilder {
    margin:10px;
}

input {
   margin:5px 0px; 
}

button {
    width:100px;
    padding:0px;
    height:auto;
    border:2px black solid;
    border-radius:5px;
}

button:checked {
    opacity:75%;
}

img {
    width:85px;
    margin:2px;
}

img:active{
    opacity:75%;
}

#advarsel {
    margin:0px;
}

#navnUtskrift:first-letter {
    text-transform: capitalize;
}

#navnUtskrift, #mailUtskrift, #interesserOut {
    margin:5px;
    list-style-type: none;
}