body{
    margin:0;
    background-image: linear-gradient(340deg, #90d5ec 0%, #fc575e 97%);
}

#heleboksen{
    overflow: hidden;
    margin:0;
    padding:0;
    //background-color: #90d5ec;
    
}

#midten {
    position:fixed;
    left:35%;
    top:25%;
    font-family:'Snowflakes';
    color:black;
    
}


polygon {
    fill:black;
    stroke:black;
    filter:blur(1.5px);
    stroke-width:1;
}

#overskrift{
    margin:0;
    font-size: 15vh;
    z-index:-3;
}

#klokke {
    margin:-23px;
    font-size: 15vh;
}

#treer {
    position: absolute;
    top:0%;
    left:0%;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    //perspective: -10px;
    padding:0;
}

#midttreer {
    position: absolute;
    top:60vh;
    left:10%;
    width: 70vw;
    height: 40vh;
    z-index: -2;
}

#tretekst {
    font-family: Trees;
    color:black;
    font-size:5vw;
    position:absolute;
    left:5%;
    top:1%;
    z-index: -1;
}

#trewrapper {
    position:relative;
    padding:0;
    
}

#paskewrapper {
    //border-top: solid black 25px;
    font-family: "Strawberry";
    position: relative;
    height:100vh;
    //background-image: linear-gradient(340deg, #90d5ec 0%, #fc575e 97%);
    //background-color: #fdf86d;
    background-image: linear-gradient(315deg, #fdf86d 0%, #bddcf1 74%);
    z-index: 1;
    padding:0;
    border-top: black solid 1px;
}

#pasketekst {
    position: relative;
    left:25%;
    top:20%;
    font-size: 15vh;
    z-index: 1;
}

#bunny {
    width: 100vw;
    position: relative;
    top:-50vh;
    //z-index: 0;
}



.sol {
    position: relative;
    height: 300px;
    width: 300px;
    overflow: hidden;
    left:-7vw;
    top:-162.7vh;
    z-index: 1;
    
}

.sol:before {
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    top: 0;
    background-color: rgb(255, 217, 0);
    z-index: 2;
    box-shadow: 
    0 0 0 20px #ffde0080,
    0 0 0 40px #ffde0040,
    0 0 0 60px #ffde0020,
    0 0 0 80px #ffde0010,
    0 0 0 100px #ffde0000,
    0 0 40px 100px #ffde0010;
}

#musikkboks {
    position: fixed;
    right:5%;
    bottom:5%;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    font-family: 'Strawberry';
    font-size: xx-large;
    word-wrap: break-word;
    max-width: 20%;
}

#playBtn {
    color:white;
}

.wrapper {
    width:100vw;
    height:100vh;
    //background: radial-gradient(farthest-corner at 30vw 20vh,#7397a1 1%,#3f2c41 100%);
    position:relative;
    
    
}
$s1:"";
$s2:"";
$s3:"";
//300 partikler per lag, evt endre
@for $i from 1 through 300 {
    $s1: $s1 + random(1000)*0.1vw + " " + random(2000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    $s2: $s2 + random(1000)*0.1vw + " " + random(2000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    $s3: $s3 + random(1000)*0.1vw + " " + random(2000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    @if $i < 300 {
        $s1: $s1 + ",";
        $s2: $s2 + ",";
        $s3: $s3 + ",";
    }
}
.snow {
    border-radius: 50%;
    opacity: 0.8;
    position: absolute;
    top:-200vh;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
}
//framste layer
.layer1 {
    width: 1.5rem;
    height: 1.5rem;
    filter:blur(1.5px);
    box-shadow: #{$s1};
    animation-duration: 8s;
}
.layer1.a {
    animation-delay: -3s;
}
.layer2 {
    width: 1.2rem;
    height: 1.2rem;
    filter:blur(3px);
    box-shadow: #{$s2};
    animation-duration: 10s;
}
.layer2.a {
    animation-delay: -4s;
}

//bakerste layer
.layer3 {
    width: 0.8rem;
    height: 0.8rem;
    filter:blur(6px);
    box-shadow: #{$s3};
    animation-duration: 12s;
}
.layer3.a {
    animation-delay: -5s;
}
@keyframes fall {
    100% {transform: translateY(400vh); }
}


//kode til bakgrunnen hentet fra https://codepen.io/redstapler/pen/MZXJZx , https://www.youtube.com/watch?v=8eyAoBBucHk
//Bakgrunnsfarge: Deja vu fra https://www.eggradients.com/category/sunset-gradient


@font-face {
    font-family: 'Snowflakes';
    src: url('../fonter/Christmas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Strawberry';
    src: url('../fonter/Strawberry.ttf') format('truetype'),
        url('../fonter/Strawberry.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trees';
    src: url("../fonter/HollyJollyChristmas-vmXZ9.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}